<footer class="footer_pixel">

	<p><a class="subscribe_pixel icon-rss" target="_blank" href="{{@blog.url}}/rss/">

	</a></p>

	<div class="footertext_pixel">

		<p>All content copyright <a href="/">{{@blog.title}}</a> &copy; 2014</p>

	</div>

	<div class="footertext_pixel">

		<p>Proudly published with <a class="icon-ghost" href="http://tryghost.org" target="_blank">Ghost</a> Theme: <a class="icon-github-circled" href="https://github.com/Skepton/Pixeltraveller"></a></p>

	</div>

</footer>