<div role='banner' class="header_pixel">

	{{#if @blog.cover}}<img class="cover_pixel" src="{{@blog.cover}}" alt="{{@blog.title}}" />{{/if}}
	
	<h1 class="blogtitle_pixel">

		{{{@blog.title}}}

	</h1>

	<p class="blogdescription_pixel">

		{{@blog.description}}

	</p>

</div>